LoadModule jk_module  /etc/httpd/modules/mod_jk.so

JkWorkersFile /etc/httpd/conf.d/worker.properties
JkShmFile     /var/run/mod_jk
JkLogFile     /var/log/httpd/mod_jk.log
JkLogLevel    info
JkLogStampFormat "[%a %b %d %H:%M:%S %Y] "