{
  "api.version":"v1",
  "sources":[{
       "sourceType" : "SystemStats",
       "name" : "Host_Metrics",
       "interval" : 60000,
       "metrics" : ["CPU_User", "CPU_Sys", "CPU_Idle", "CPU_IOWait", "CPU_LoadAvg_5min", "Disk_UsedPercent", "Mem_Used","Mem_Free"]
     },
     {
        "name": "ACES3 Application Log",
        "description": "ACES3 Application Log",
        "category": "{{env | upper}}/{{server_type | upper}}/WebLogic/App",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/logs/acesConsole.*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "America/New_York",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
     {
        "name": "ACES3 Application OPS Log",
        "description": "ACES3 Application OPS Log",
        "category": "{{env | upper}}/{{server_type | upper}}/WebLogic/App/OPS",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/logs/PROD-SUPPLIERNODE-*-OPSPROCESSING.log",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": false,
        "manualPrefixRegexp": "^####<.*",

        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },    
    {
        "name": "ACES3 Admin Server Application Log",
        "description": "ACES3 Admin Server Application Log",
        "category": "{{env | upper}}/{{server_type | upper}}/WebLogic/AdminServer/App",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/logs/AdminServer.log",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "America/New_York",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "ACES3 Supplier Node Application Log",
        "description": "ACES3 Supplier Node Application Log",
        "category": "{{env | upper}}/{{server_type | upper}}/WebLogic/Supplier/App",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/logs/PROD-SUPPLIERNODE-*.log",
        "blacklist": ["/home/{{sumo_username[server_type][env]}}/logs/PROD-SUPPLIERNODE-*-OPSPROCESSING.log"],
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": false,
        "manualPrefixRegexp": "^####<.*",

        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8"
    },
    {
        "name": "ACES3 WebLogic Node Manager Log",
        "description": "ACES3 WebLogic Node Manager Log",
        "category": "{{env | upper}}/{{server_type | upper}}/WebLogic/NodeManager/App",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/logs/weblogicNodeManager.*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "America/New_York",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    }
  ]
}    