{
  "api.version":"v1",
  "sources":[{
       "sourceType" : "SystemStats",
       "name" : "Host_Metrics",
       "interval" : 60000,
       "metrics" : ["CPU_User", "CPU_Sys", "CPU_Idle", "CPU_IOWait", "CPU_LoadAvg_5min", "Disk_UsedPercent", "Mem_Used","Mem_Free"]
     }
  ]
} 