{
  "api.version":"v1",
  "sources":[
    {
       "sourceType" : "SystemStats",
       "name" : "Host_Metrics",
       "interval" : 60000,
       "metrics" : ["CPU_User", "CPU_Sys", "CPU_Idle", "CPU_IOWait", "CPU_LoadAvg_5min", "Disk_UsedPercent", "Mem_Used","Mem_Free"]
     },
    {
        "name": "{{server_type | upper}} ActiveMQ Queue Depth Log",
        "description": "{{server_type | upper}} ActiveMQ Queue Depth Log",
        "category": "{{env | upper}}/{{server_type | upper}}/MQ/QueueDepth",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/VaAzulBacklog.log",

        "defaultDateFormats": [
        {
            "format": "MM/dd/yy HH:mm:ss",
            "location": "\\s+\\[java\\]\\s(.*)\\s\\w{2}"
        }],
        "multilineProcessingEnabled": true,
        "useAutolineMatching": false,
        "manualPrefixRegexp": "^\\s+\\[java\\]\\s\\d{2}/\\d{2}/\\d{2}\\s\\d{2}:\\d{2}:\\d{2}\\s\\w{2}/\\w{2}.*",

        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "America/New_York",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "{{server_type | upper}} WebLogic Application Log",
        "description": "{{server_type | upper}} WebLogic Application Log",
        "category": "{{env | upper}}/{{server_type | upper}}/WebLogic/App",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/acesII.log",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "America/New_York",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "{{server_type | upper}} WebLogic Console Log",
        "description": "{{server_type | upper}} WebLogic Console Log",
        "category": "{{env | upper}}/{{server_type | upper}}/WebLogic/Console",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/acesConsole*",
        "sourceType": "LocalFile",
        "defaultDateFormats": [
        {
            "format": "MM/dd/yy HH:mm:ss"
        }],        
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "America/New_York",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },    
    {
        "name": "{{server_type | upper}} Trip Compare Server Application Log",
        "description": "{{server_type | upper}} Trip Compare Server Application Log",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/Java/TCS",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/tripCompareServerConsole.*",
        "sourceType": "LocalFile",
        "defaultDateFormats": [
        {
            "format": "MM/dd/yy HH:mm:ss",
            "location": "\\s+\\[java\\]\\s(.*)\\s\\w{2}"
        }],
        "multilineProcessingEnabled": true,
        "useAutolineMatching": false,
        "manualPrefixRegexp": "^\\s+\\[java\\]\\s\\d{2}/\\d{2}/\\d{2}\\s\\d{2}:\\d{2}:\\d{2}\\s\\w{2}/\\w{2}.*",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "America/New_York",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    { 
        "name": "{{server_type | upper}} Reports logs",
        "description": "{{server_type | upper}} Reports logs",
        "category": "{{env | upper}}/{{server_type | upper}}/MQ/Report/reports",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/reports.*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "America/New_York",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "Latam Broker Logs",
        "description": "Latam Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/Latam",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/latamBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "America/New_York",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "Jasper reports server logs",
        "description": "Jasper reports server logs",
        "category": "{{env | upper}}/{{server_type | upper}}/Tomcat/Jasper/App",
        "pathExpression": "/opt/software/jasperserver-2.1/apache-tomcat/logs/catalina.out",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "JetBlue Broker Logs",
        "description": "JetBlue Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/JetBlue",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/jetBlueBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "GT Extract Broker Logs",
        "description": "GT Extract Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/gtExtract",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/gtExtractBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },    
    {
        "name": "Avianca Broker Logs",
        "description": "Avianca Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/Avianca",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/aviancaBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": false,
        "manualPrefixRegexp": "^\\d{2}/\\d{2}/\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}\\s+.*",
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "VA Broker Logs",
        "description": "VA Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/VirginAustralia",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/vaBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "MQ Broker Logs",
        "description": "MQ Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/MQ",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/mqBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "HOP Broker Logs",
        "description": "HOP Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/Hop",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/hopBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "ANZ Broker Logs",
        "description": "ANZ Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/ANZ",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/anzBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "AirTransat Broker Logs",
        "description": "AirTransat Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/AirTransat",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/airTransatBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "Cathay Pacific Broker Logs",
        "description": "Cathay Pacific Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/CX",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/cxBroker*",
        "sourceType": "LocalFile",
        "defaultDateFormats": [
        {
            "format": "MM/dd/yy HH:mm:ss"
        }],
        "multilineProcessingEnabled": true,
        "useAutolineMatching": false,
        "manualPrefixRegexp": "^\\d{2}/\\d{2}/\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}\\s+.*",        
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "Azul Broker Logs",
        "description": "Azul Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/Azul",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/*azulBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "UPS Broker Logs",
        "description": "UPS Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/UPS",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/upsBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "Java application to process FTP files for 1 client: Endeavor",
        "description": "Java application to process FTP files for 1 client: Endeavor",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/Java/FileProcessor",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/fileProcessorConsole.*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "America/New_York",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "Active MQ Queue logs",
        "description": "Active MQ Queue logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/App",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/*QConsole.*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },    
    {
        "name": "ExpressJet Broker Logs",
        "description": "ExpressJet Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/ExpressJet",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/expressJetBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "{{server_type | upper}} Tomcat Application Log",
        "description": "{{server_type | upper}} Tomcat Application Log",
        "category": "{{env | upper}}/{{server_type | upper}}/Tomcat/App",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/catalina.out",
        "sourceType": "LocalFile",
        "defaultDateFormats": [
        {
            "format": "MM/dd/yy HH:mm:ss"
        }],
        "multilineProcessingEnabled": true,
        "useAutolineMatching": false,
        "manualPrefixRegexp": "^\\d{2}/\\d{2}/\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}\\s+.*",
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "{{server_timezone[env][ansible_hostname]}}",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "{{server_type | upper}} Tomcat EE Application Log",
        "description": "{{server_type | upper}} Tomcat EE Application Log",
        "category": "{{env | upper}}/{{server_type | upper}}/TOMEE/App",
        "pathExpression": "/opt/software/apache-tomee-plume-7.0.5/logs/catalina.out",
        "sourceType": "LocalFile",
        "defaultDateFormats": [
        {
            "format": "MM/dd/yy HH:mm:ss"
        }],
        "multilineProcessingEnabled": true,
        "useAutolineMatching": false,
        "manualPrefixRegexp": "^\\d{2}/\\d{2}/\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}\\s+.*",
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "{{server_timezone[env][ansible_hostname]}}",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "{{server_type | upper}} WebServices Application Log",
        "description": "{{server_type | upper}} Tomcat Application Log",
        "category": "{{env | upper}}/{{server_type | upper}}/Tomcat/WebServices",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/acesws.log",
        "sourceType": "LocalFile",
        "defaultDateFormats": [{
            "format": "MMM dd, yyyy hh:mm:ss a"
        },
        {
            "format": "MM/dd/yy HH:mm:ss"
        }],
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "JN Broker Logs",
        "description": "JN Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/JN",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/JNBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    },
    {
        "name": "AeroMexico Broker Logs",
        "description": "AeroMexico Broker Logs",
        "category": "{{env | upper}}/{{server_type | upper}}-COMPONENT/MQ/Broker/AM",
        "pathExpression": "/home/{{sumo_username[server_type][env]}}/acesII/logs/amBroker*",
        "sourceType": "LocalFile",
        "automaticDateParsing": true,
        "multilineProcessingEnabled": true,
        "useAutolineMatching": true,
        "contentType": "Other",
        "forceTimeZone": false,
        "timeZone": "Etc/UTC",
        "filters": [],
        "cutoffTimestamp": 1550552400000,
        "encoding": "UTF-8",
        "blacklist": []
    }

  ]
}